<c-container [fluid]="true" class="px-0 p-0 m-0">
  <c-breadcrumb>
    <c-breadcrumb-item [active]="true">Accesos al sistema</c-breadcrumb-item>
    <c-breadcrumb-item [active]="true">Usuarios externos</c-breadcrumb-item>
  </c-breadcrumb>
</c-container>
<c-card>
  <c-card-header>
    Gestión de usuarios internos
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col>
        <mat-form-field appearance="outline">
          <mat-label>Búsqueda</mat-label>
          <input matInput (keyup)="onFilterChange($event)" placeholder="Filtrar">
        </mat-form-field>
      </c-col>
      <c-col class="text-end">
        <button mat-mini-fab class="m-1" (click)="all()" matTooltip="Actualizar">
          <mat-icon >refresh</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="PDF" class="m-1">
          <mat-icon >picture_as_pdf</mat-icon>
        </button>
        <button mat-mini-fab class="m-1" (click)="doCrear()" matTooltip="Nuevo Registro">
          <mat-icon >add</mat-icon>
        </button>
      </c-col>
    </c-row>
    <div class="table-responsive">
      <table mat-table
             [dataSource]="dataSource"
             matSort
             matSortDisableClear
             matSortDirection="desc"
             (matSortChange)="onSortChange($event)"
             class="mat-elevation-z8" style="width: 100%"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{ element.usuario }} </td>
        </ng-container>
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo </th>
          <td mat-cell *matCellDef="let element"> {{ element.nombreCompleto }} </td>
        </ng-container>
        <ng-container matColumnDef="roleNombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
          <td mat-cell *matCellDef="let element"> {{ element.roleNombre }} </td>
        </ng-container>
        <ng-container matColumnDef="tipoDocumento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo documento </th>
          <td mat-cell *matCellDef="let element"> {{ element.tipoDocumento }} </td>
        </ng-container>
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo documento </th>
          <td mat-cell *matCellDef="let element"> {{ element.numeroDocumento }} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
          <td mat-cell *matCellDef="let element"> {{ element.telefono }} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element">
            <span class="rounded-2 p-1" style="background: {{ element.activo ? '#92e27a' : '#9e3b42' }} ; color:{{ element.activo ? '#000000' : '#FFFFFF' }} ;">
              {{ element.activo ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="doEditar(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span> {{element.id ? 'Dar de Baja' : 'Dar de Alta'}} </span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="total" (page)="onPageChange($event)" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
  </c-card-body>
</c-card>

