<div mat-dialog-title style="height: auto;">
  {{ data.title }}
  <button mat-icon-button (click)="doCerrar()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="m-3">
    <form autocomplete="off" [formGroup]="formulario">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline">
          <mat-label>Titulo</mat-label>
          <input matInput formControlName="descripcion" type="text" required>
        </mat-form-field>
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Fecha inicio</mat-label>
          <input formControlName="fechaInicio" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6" appearance="outline">
          <mat-label>Fecha fin</mat-label>
          <input formControlName="fechaFin" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="role == 1" class="m-1" (click)="doAceptar()" mat-raised-button color="primary">Aceptar</button>
  <button *ngIf="role == 2" class="m-1" (click)="doActualizar()" mat-raised-button color="primary">Actualizar</button>
</mat-dialog-actions>

