.small-button {
  padding: 4px 0;         /* Reducir padding */
  min-width: 30px;          /* Ancho mínimo */
  height: 40px;             /* Altura más pequeña */
  width: 40px;
  min-width: 40px;
  background-color: #1a3479;
  color:#FFFFFF;
  margin: 2px;
}
.small-button:hover {
  background-color: #479fe3;
}

.small-button mat-icon {
  font-size: 24px;          /* Ajustar el tamaño del icono */
}

.button-container {
  display: flex;             /* Define el contenedor como un contenedor Flex */
  justify-content: center;   /* Alinea el botón horizontalmente al centro */
  align-items: center;       /* Alinea el botón verticalmente al centro (opcional) */
  height: 100px;             /* Altura del contenedor (opcional) */
}

.fit-button {
  display: inline-block;   /* El botón se ajusta al tamaño del texto */
  padding: 8px 16px;       /* Añade espacio alrededor del texto */
  margin: 5px;             /* Márgenes opcionales */
}
